<!-- Akademia Section -->
<section id="akademia">
<div class="container">
  <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">AKADEMIA TRENERA</h2>
          <h3 class="section-subheading text-muted">Zapraszamy trenerów IT do uczestnictwa w szkoleniach i warsztatach, mających na celu podniesienie kompetencji przydatnych w zawodzie trenera, m.in. szkolenia w zakresie autoprezentacji, warsztatu trenerskiego (train the trainers) oraz warsztatu aktorskiego i emisji głosu.</h3>
      </div>
  </div>
<div class="row text-center">
<div class="col-md-3"><span class="fa-stack fa-4x"> <em class="fa fa-circle fa-stack-2x text-primary"> </em> <em class="fa fa-list-ul fa-stack-1x fa-inverse"> </em> </span>
<h4 class="service-heading">Ciekawe tematy</h4>
</div>
<div class="col-md-3"><span class="fa-stack fa-4x"> <em class="fa fa-circle fa-stack-2x text-primary"> </em> <em class="fa fa-users fa-stack-1x fa-inverse"> </em> </span>
<h4 class="service-heading">Podnoszenie kompetencji trenerskich</h4>
</div>
<div class="col-md-3"><span class="fa-stack fa-4x"> <em class="fa fa-circle fa-stack-2x text-primary"> </em> <em class="fa fa-comments-o fa-stack-1x fa-inverse"> </em> </span>
<h4 class="service-heading">Budowanie społeczności trenerów IT</h4>
</div>
<div class="col-md-3"><span class="fa-stack fa-4x"> <em class="fa fa-circle fa-stack-2x text-primary"> </em> <em class="fa fa-money fa-stack-1x fa-inverse"> </em> </span>
<h4 class="service-heading">Niskie ceny</h4>
</div>
</div>
<br><br>
</div>

{% assign sorted_warsztaty = site.warsztaty | sort: 'event_date' %}
{% for warsztat in sorted_warsztaty %}
  {% capture nowtime %}{{site.time | date: '%s'}}{% endcapture %}
  {% capture eventtime %}{{warsztat.event_date | date: '%s'}}{% endcapture %}
  {% if eventtime < nowtime %}
    {% continue %}
  {% endif %}

  {% if warsztat.type %}
    {% if warsztat.type == 'akademia' %}

      {% assign prowadzacy = site.data.prowadzacy[warsztat.prowadzacy] %}
      {% assign lokalizacja = site.data.lokalizacje[warsztat.lokalizacja] %}


<hr/>
<div class="row">
<div class="col-xs-4 col-md-2">
<h4 style="text-align: center;"><em class="fa fa-calendar fa-2x"> </em></h4>
<p style="text-align: center;"><strong>{{ warsztat.event_date }}</strong></p>
</div>
<div class="col-xs-8 col-md-3">
<h4>{{ warsztat.title }}</h4>
<p style="text-align: justify;"><strong>{{ prowadzacy.name }}<br /></strong></p>
</div>
<div class="col-xs-12 col-md-5">
<p style="text-align: justify;">{{ warsztat.opis['informacje'] | markdownify | truncate: 281 }}</p>
</div>
<div class="col-xs-12 col-md-2">
<p style="text-align: center;"><strong>{{ warsztat.cena }}</strong></p><p style="text-align: center;">
<a href="{{ warsztat.url }}" class="portfolio-link"><button type="button" class="btn btn-default btn-sm default">ZAREJESTRUJ SIĘ</button></a></p>
</div>
</div>
    {% endif %}
  {% endif %}
{% endfor %}
</section>
