<!-- Akademia Section -->
<section id="akademia">
<div class="container">
  <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">AKADEMIA TRENERA</h2>
          <h3 class="section-subheading text-muted">Zapraszamy trenerów IT do uczestnictwa w szkoleniach i warsztatach, mających na celu podniesienie kompetencji przydatnych w zawodzie trenera, m.in. szkolenia w zakresie autoprezentacji, warsztatu trenerskiego (train the trainers) oraz warsztatu aktorskiego i emisji głosu.</h3>
      </div>
  </div>
<div class="row text-center">
<div class="col-md-3"><span class="fa-stack fa-4x"> <em class="fa fa-circle fa-stack-2x text-primary"> </em> <em class="fa fa-list-ul fa-stack-1x fa-inverse"> </em> </span>
<h4 class="service-heading">Ciekawe tematy</h4>
</div>
<div class="col-md-3"><span class="fa-stack fa-4x"> <em class="fa fa-circle fa-stack-2x text-primary"> </em> <em class="fa fa-users fa-stack-1x fa-inverse"> </em> </span>
<h4 class="service-heading">Podnoszenie kompetencji trenerskich</h4>
</div>
<div class="col-md-3"><span class="fa-stack fa-4x"> <em class="fa fa-circle fa-stack-2x text-primary"> </em> <em class="fa fa-comments-o fa-stack-1x fa-inverse"> </em> </span>
<h4 class="service-heading">Budowanie społeczności trenerów IT</h4>
</div>
<div class="col-md-3"><span class="fa-stack fa-4x"> <em class="fa fa-circle fa-stack-2x text-primary"> </em> <em class="fa fa-money fa-stack-1x fa-inverse"> </em> </span>
<h4 class="service-heading">Niskie ceny</h4>
</div>
</div>
<br><br>

</div>
<hr/>
<div class="row">
<div class="col-xs-4 col-md-2">
<h4 style="text-align: center;"><em class="fa fa-calendar fa-2x"> </em></h4>
<p style="text-align: center;"><strong>4-5 VI 2016</strong></p>
</div>
<div class="col-xs-8 col-md-3">
<h4>Train The Trainer</h4>
<p style="text-align: justify;"><strong>Piotr Nazimek<br /></strong></p>
</div>
<div class="col-xs-12 col-md-5">
<p style="text-align: justify;">Jesteś specjalistą IT i czujesz powołanie (lub przymus sytuacyjny) do edukacji swoich kolegów? Stwórz swój niepowtarzalny wizerunek trenerski oraz zdobądź wiedzę i umiejętności w zakresie prowadzenia i projektowania szkoleń, ze szczególnym uwzględnieniem specyfiki szkoleń IT!</p>
</div>
<div class="col-xs-12 col-md-2">
<p style="text-align: center;"><strong>bezpłatnie</strong></p><p style="text-align: center;"><a href="./akademia/2016.06.04-Train-The-Trainer.html">
<button type="button" class="btn btn-default btn-sm default">Zarejestruj się</button></p></a>
</div>
</div>
<hr/>
<div class="row">
<div class="col-xs-4 col-md-2">
<h4 style="text-align: center;"><em class="fa fa-calendar fa-2x"> </em></h4>
<p style="text-align: center;"><strong>19 III 2016</strong></p>
</div>
<div class="col-xs-8 col-md-3">
<h4>Autoprezentacja w oparciu o warsztat aktorski</h4>
<p style="text-align: justify;"><strong>Zuzanna Fijewska-Malesza<br /></strong></p>
</div>
<div class="col-xs-12 col-md-5">
<p style="text-align: justify;">Jak mówić, aby być słuchanym? Jak przekazać, aby zostać zrozumianym? Warsztat skierowany jest do osób występujących publicznie, zarówno przed małą jak i dużą publicznością.</p>
</div>
<div class="col-xs-12 col-md-2">
<p style="text-align: center;"><strong>€49</strong><br>lub bezpłatnie dla trenerów Sages</p><p style="text-align: center;">
<button type="button" class="btn btn-default btn-sm default">REJESTRACJA ZAKOŃCZONA</button></p>
</div>
</div>
</section>
