<!-- Costs Section -->
  <section id="costs" class="bg-yellow">
<div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading"><font color="white">Ile to kosztuje?</font></h2>
              </div>
                <div class="row text-center">
              <div class="col-md-5 col-sm-12">
          <h3 class="service-heading"><font color="black">WARSZTAT SPONSOROWANY</font></h4>
                  <h4 class="service-heading"><font color="white">Wstęp jest darmowy.</font></h4>
              </div>
              <div class="col-md-7 col-sm-12">
      <h3 class="service-heading"><font color="black">WARSZTAT ORGANIZOWANY SIŁAMI SPOŁECZNOŚCI</font></h4>
                  <h4 class="service-heading" style="text-align: justify;"><font color="white">Każdy wartościowy warsztat wymaga starannego przygotowania i poświęcenia nie lada czasu, dlatego od uczestników pobierana jest składka, z której opłacimy przede wszystkim wysiłek prowadzącego, lunch i inne koszty niezbędne do realizacji warsztatu. Nadwyżki z wejściówek inwestujemy w rozwój Stacji.</font></h4>
              </div>
          </div>
          </div>

      </div>
</section>
