<!-- Faq Section -->
<section id="faq" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading">FAQ</h2>
<br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
<div class="panel">
<div class="panel-heading">
<h3 class="panel-title">Kto może zostać członkiem Stacji?</h3>
</div>
<div class="panel-body"><p style="text-align: justify;">Każdy! W szczególności zachęcamy programistów, administatorów, architektów, analityków, testerów, managerów, kierowników projektów oraz trenerów i konsultantów IT.</p>
</div>
</div>
            </div>
                    <div class="col-md-6 col-sm-12">
<div class="panel">
<div class="panel-heading">
<h3 class="panel-title">Co obejmuje cena warsztatu?</h3>
</div>
<div class="panel-body"><p style="text-align: justify;">Cena obejmuje całodniowy warsztat (zaczynamy o 9:00, kończymy ok. 17:00). Uczestnicy mają zapewniony lunch około godziny 13:00 oraz nielimitowany dostęp do pysznej kawy. ☺</p>
</div>
</div>
            </div>
                            <div class="col-md-6 col-sm-12">
<div class="panel">
<div class="panel-heading">
<h3 class="panel-title">Co muszę zabrać na warsztat?</h3>
</div>
<div class="panel-body"><p style="text-align: justify;">Własny sprzęt (laptop). Przed eventem otrzymasz instrukcje przygotowania środowiska, aby nie tracić czasu na instalację w trakcie warsztatu.</p>
</div>
</div>
            </div>
                    <div class="col-md-6 col-sm-12">
<div class="panel">
<div class="panel-heading">
<h3 class="panel-title">Czy mogę dostać fakturę?</h3>
</div>
<div class="panel-body"><p style="text-align: justify;">Jasne, po opłaceniu zamówienia, <a href="mailto:kontakt@stacja.it?subject=Stacja IT - prośba o wystawienie faktury">wyślij</a> nam wiadomość z danymi niezbędnymi do wystawienia faktury (nazwa firmy, adres, NIP).</p>
</div>
</div>
            </div>
<div class="col-md-6 col-sm-12">
<div class="panel">
<div class="panel-heading">
<h3 class="panel-title">Nie mogę dokonać płatności. Co teraz?</h3>
</div>
<div class="panel-body"><p style="text-align: justify;"><a href="mailto:kontakt@stacja.it?subject=Stacja IT - problem z płatnością">Napisz do nas</a> - wspólnie postaramy się rozwiązać problem.</p>
</div>
</div>
            </div>
<div class="col-md-6 col-sm-12">
<div class="panel">
<div class="panel-heading">
<h3 class="panel-title">Czy mogę zamówić warsztat dedykowany?</h3>
</div>
<div class="panel-body"><p style="text-align: justify;">Tak. <a href="mailto:kontakt@stacja.it?subject=Stacja IT - warsztat dedykowany">Zapytaj nas</a> o ofertę warsztatu dla Twojego zespołu.</p>
</div>
</div>
            </div>
        </div>
    </div>
</section>
