<!-- Histotia Section -->
<section id="historia" class="bg-light-gray portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Poprzednie wydarzenia</h2>
                <h3 class="section-subheading text-muted">Przeczytaj opinie uczestników naszych warsztatów i <a href="http://www.slideshare.com/sagespl">obejrzyj udostępnione materiały</a>:</h3>
            </div>
        </div>
        {% assign sorted_warsztaty = site.warsztaty | sort: 'event_date' | reverse %}
        {% assign iter = 0 %}
        {% for warsztat in sorted_warsztaty %}
          {% if iter >= include.maxiter %}
            {% break %}
          {% endif %}
          {% capture nowtime %}{{site.time | date: '%s'}}{% endcapture %}
          {% capture eventtime %}{{warsztat.event_date | date: '%s'}}{% endcapture %}
          {% if eventtime > nowtime %}
            {% continue %}
          {% endif %}

          {% assign prowadzacy = site.data.prowadzacy[warsztat.prowadzacy] %}
          {% assign lokalizacja = site.data.lokalizacje[warsztat.lokalizacja] %}

          {% assign iter_div = iter | modulo:3 %}
          {% if iter_div == 0 %}
            <div class="clearfix"></div>
          {% endif %}

          {% assign iter = iter | plus:1 %}

          {% if warsztat.type %}
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="{{ warsztat.meetup_link }}" class="portfolio-link">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <h2><i class="fa fa-user fa-2x"></i><br>{{ prowadzacy.name }}</h2>
                    </div>
                </div>
                <img src="{{ prowadzacy.img | prepend: site.baseurl}}" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4><font color="#fed136">{{ warsztat.event_date }} - {{ lokalizacja.miasto }}</font></h4>
                        <h4>{{ warsztat.title }}</h4>
              <br>
              <a href="{{ warsztat.meetup_link }}" class="portfolio-link"><button type="submit" class="btn btn-xl">MEETUP</button></a>
              </div>
          </div>
          {% else %}
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="{{ warsztat.url }}" class="portfolio-link">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <h2><i class="fa fa-user fa-2x"></i><br>{{ prowadzacy.name }}</h2>
                    </div>
                </div>
                <img src="{{ prowadzacy.img | prepend: site.baseurl}}" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4><font color="#fed136">{{ warsztat.event_date }} - {{ lokalizacja.miasto }}</font></h4>
                        <h4>{{ warsztat.title }}{% if warsztat.slideshare %} <a href="{{ warsztat.slideshare }}" target="_blank"><i class="fa fa-file-text-o fa-1x" aria-hidden="true"></i></a>{% endif %}
                        </h4>
                        {% if warsztat.quote %}
                        <p class="text-muted"><i class="fa fa-quote-left" aria-hidden="true"> {{ warsztat.quote }}</i></p>
                        {% endif %}
              <br>
              <a href="{{ warsztat.url }}" class="portfolio-link"><button type="submit" class="btn btn-xl">SZCZEGÓŁY</button></a>
              </div>
          </div>
          {% endif %}
        {% endfor %}
         <div class="row text-center">
        <div class="col-md-12"><br><br>
          <a class="btn btn-lg btn-default" href="{{ "poprzednie-wydarzenia.html" | prepend: site.baseurl }}">
            <i class="fa fa-2x pull-left"></i> Zobacz wszystkie</a>
        </div>
      </div>
    </div>

</section>
