<!-- Histotia Section -->
<section id="historia">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Poprzednie edycje</h2>
                <h3 class="section-subheading text-muted">Przeczytaj opinie uczestników naszych warsztatów i obejrzyj udostępnione materiały:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                               <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/weka.png" alt="">
                        </div>
                        <div class="timeline-panel">

                            <div class="timeline-heading">
                                <h4>20 LUTEGO 2016 <a href="http://www.slideshare.net/sagespl/szybkie-wprowadzenie-do-eksploracji-danych-z-pakietem-weka"><i class="fa fa-file-text-o fa-1x"></i></a></h4>
                                <h4 class="subheading">Szybkie wprowadzenie do eksploracji danych z pakietem Weka</h4>
                            </div>
                                            <div class="timeline-body">
                                <p class="text-muted"><i>(...) dziekuje za super warsztaty. Bardzo mi one pomogly :)</i> <i class="fa fa-quote-right"></i></p>
                            </div>
                        </div>
                     </li>

              <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/puppet.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <br>
                                <br>
                                <h4>13 LUTEGO 2016 <a href="http://www.slideshare.net/sagespl/wprowadzenie-do-technologii-puppet"><i class="fa fa-file-text-o fa-1x"></i></a></h4>
                                <h4 class="subheading">Wprowadzenie do technologii Puppet</h4>
                            </div>
                                            <div class="timeline-body">
                                <p class="text-muted"><i><i class="fa fa-quote-left"></i> Dużo konkretnych przykładów z życia - tak trzymać!</i>
                                </p>
                            </div>
                        </div>
                    </li>
                     <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/comp.png" alt="">
                        </div>
                        <div class="timeline-panel">

                            <div class="timeline-heading">
                                <h4>9 STYCZNIA 2016 <a href="http://www.slideshare.net/sagespl/budowa-elementw-gui-za-pomoc-biblioteki-react-szybki-start"><i class="fa fa-file-text-o fa-1x"></i></a></h4>
                                <h4 class="subheading">Budowa elementów GUI za pomocą biblioteki React - szybki start </h4>
                            </div>
                        </div>
                     </li>

              <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/spark.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <br>
                                <br>
                                <h4>21 LISTOPADA 2015</h4>
                                <h4 class="subheading">Wprowadzenie do Big Data i Apache Spark</h4>
                            </div>
                        </div>
                    </li>


           <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/x.png" alt="">
                        </div>
                        <div class="timeline-panel">

                            <div class="timeline-heading">
                                <h4>10 PAŹDZIERNIKA 2015 <a href="http://www.slideshare.net/sagespl/vertx-v3-high-performance-polyglot-application-toolkit"><i class="fa fa-file-text-o fa-1x"></i></a></h4>
                                <h4 class="subheading">Vert.x 3 - wydajna i skalowalna platforma aplikacyjna</h4>
                            </div>
                        </div>
                     </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/hadoop.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>5 września 2015 <a href="http://www.slideshare.net/sagespl/wprowadzenie-do-technologii-big-data-intro-to-big-data-ecosystem"><i class="fa fa-file-text-o fa-1x"></i></a></h4>
                                <h4 class="subheading">Wprowadzenie do Big Data i Apache Hadoop</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"><i><i class="fa fa-quote-left"></i> Szkolenie było bardzo dobre. Mimo małego czasu i ogromu tematów na pewno dużo się nauczyłem i dużo szybciej mógłbym zacząć zabawę z hadoop niż miałbym to robić od podstaw w domu.</i>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/angular.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>27 CZERWCA 2015 <a href=""><a href="http://www.slideshare.net/sagespl/podstawy-angularjs"><i class="fa fa-file-text-o fa-1x"></i></a></h4>
                                <h4 class="subheading">Podstawy AngularJS</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"><i>Zdecydowanie na plus objaśnianie zagadnień i wykorzystywanie kolejnych elementów składni w sukcesywnie rozbudowywanym w ramach warsztatów projekcie i możliwość pobrania sobie całego projektu z repozytorium.</i> <i class="fa fa-quote-right"></i></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/cass.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <br>
                                <br>
                                <h4>20 CZERWCA 2015</h4>
                                <h4 class="subheading">Apache Cassandra - wprowadzenie do architektury, modelowania danych i narzędzi</h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/hadoop.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>30 MAJA 2015 <a href="http://www.slideshare.net/sagespl/wprowadzenie-do-technologii-big-data"><i class="fa fa-file-text-o fa-1x"></i></a></h4>
                                <h4 class="subheading">Wprowadzenie do Big Data i Apache Hadoop</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"><i>Ze względu na mój typ pracy (architekt) bardzo odpowiadała mi formuła szybkiego przeglądu technologii o których mam wiedzę ale nie miałem okazji ich praktycznie używać.</i> <i class="fa fa-quote-right"></i></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-image">
                             <h4><a href="#c4p" class="timeline-link">Be Part
                                <br>Of Our
                                <br>Story!</a></h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>
