<!-- Membership Section -->
<section id="membership" class="bg-blue">
<div class="container">
       <div class="row">
           <div class="col-lg-12 text-center">
               <h2 class="section-heading"><font color="white">Zostań członkiem <a href="http://www.meetup.com/StacjaIT"><img src="img/meetup2.png"></a> <font color="#fed136">Stacji IT</font> i otrzymaj...</font></h2>
           </div>
             <div class="row text-center">
           <div class="col-md-3 col-sm-12">
               <span class="fa-stack fa-5x">
                   <font color="#fed136"><i class="fa fa-hashtag fa-stack-1x"></i></font>
               </span>
               <h4 class="service-heading"><font color="white">Dostęp do naszego Slacka</font></h4>
           </div>

           <div class="col-md-3 col-sm-12">
               <span class="fa-stack fa-5x">
                   <font color="#fed136"><i class="fa fa-percent fa-stack-1x"></i></font>
               </span>
               <h4 class="service-heading"><font color="white">Informacje o zniżkach i promocjach tylko dla członków Stacji</font></h4>
           </div>

   <div class="col-md-3 col-sm-12">
               <span class="fa-stack fa-5x">
                   <font color="#fed136"><i class="fa fa-calendar fa-stack-1x"></i></font>
               </span>
               <h4 class="service-heading"><font color="white">Powiadomienia o planowanych warsztatach i innych wydarzeniach</font></h4>
           </div>
   <div class="col-md-3">
         <div><a href="http://www.meetup.com/StacjaIT/join/" style="width: 100%;" class="btn btn btn-danger">Warszawa</a></div>
<div><a href="https://www.meetup.com/Stacja-IT-Lodz/join/" class="btn btn btn-default" style="width: 100%;">Łodź</a></div>
<div><a href="https://www.meetup.com/Stacja-IT-Poznan/join/" class="btn btn btn-danger" style="width: 100%;">Poznań</a></div>
<div><a href="https://www.meetup.com/Stacja-IT-Krakow/join/" class="btn btn btn-default" style="width: 100%;">Kraków</a></div>
<div><a href="https://www.meetup.com/Stacja-IT-Wroclaw/join/" class="btn btn btn-danger" style="width: 100%;">Wrocław</a></div>
<div><a href="https://www.meetup.com/Stacja-IT-Trojmiasto/join/" class="btn btn btn-default" style="width: 100%;">Trójmiasto</a></div>
   </div>
       </div>
       </div>

   </div>
</section>
