<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{{ "/#page-top" | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/img/logo.png" height="33"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="{{ "/#page-top" | prepend: site.baseurl }}"></a>
                </li>
      <li>
                    <a class="page-scroll" href="{{ "/#services" | prepend: site.baseurl }}">INFORMACJE</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ "/#portfolio" | prepend: site.baseurl }}">WARSZTATY</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ "https://ittrainingtour.stacja.it" }}">IT TRAINING TOUR</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ "/#podcast" | prepend: site.baseurl }}">PODCAST</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ "/#c4p" | prepend: site.baseurl }}">C4P</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ "/#akademia" | prepend: site.baseurl }}">AKADEMIA TRENERA</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ "/#team" | prepend: site.baseurl }}">TEAM</a>
                </li>
                          <li>
                    <a class="page-scroll" href="{{ "/#faq" | prepend: site.baseurl }}">FAQ</a>
                </li>
                <li>
                    <a class="page-scroll" href="#footer">KONTAKT</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
