<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
<br><br><h3 style="text-align:center"><font color="silver">ORGANIZATOR</font></h4>
                <a href="http://www.sages.com.pl/">
                    <img src="img/logo.png" class="img-responsive img-centered" alt="" style="max-height: 50px; max-width: 200px;">
                </a>
            </div>
                    <div class="col-md-6 col-sm-12">
<br><br><h3 style="text-align:center"><font color="silver">PARTNER STRATEGICZNY</font></h4>
                <a href="https://www.aliorbank.pl/">
                    <img src="img/logos/aliorbank.jpg" class="img-responsive img-centered" alt="" style="max-height: 50px; max-width: 200px;">
                </a>
            </div>
        </div>
    </div>
</aside>
<!-- Sponsors Section -->
<section id="sponsors" class="bg-red">
<div class="container">
        <div class="row">
              <div class="row text-center">
            <div class="col-md-5">
        <h3 class="service-heading"><font color="#fed136">CHCESZ ZOSTAĆ PARTNEREM WYDARZENIA?</font></h3>
            </div>
            <div class="col-md-7">
                <h4 class="service-heading" style="text-align: justify;"><font color="white">Jeżeli jesteś gotów wesprzeć nas merytorycznie lub finansowo, aby uczynić wydarzenie darmowym dla uczestników, <a href="mailto:kontakt@stacja.it?subject=Stacja IT - współpraca">napisz do nas</a> a przedstawimy Ci korzyści płynące ze współpracy.</font></h4>
            </div>
        </div>
        </div>

    </div>
</section>
<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
    <div class="row">
                    <div class="col-md-12 col-sm-12">
<br><br><h3 style="text-align:center"><font color="silver">PARTNERZY MERYTORYCZNI</font></h4>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="https://www.e-point.pl/">
                    <img src="img/logos/epoint.png" class="img-responsive img-centered" alt="" style="max-height: 50px; max-width: 200px;">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://www.gepol.com.pl">
                    <img src="img/logos/gepol.png" class="img-responsive img-centered" alt="" style="max-height: 50px; max-width: 200px;">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://www.atena.pl">
                    <img src="img/logos/atena.png" class="img-responsive img-centered" alt="" style="max-height: 50px; max-width: 200px;">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://semantive.com/">
                    <img src="img/logos/semantive.jpg" class="img-responsive img-centered" alt="" style="max-height: 50px;">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://findwise.com/">
                    <img src="img/logos/findwise.png" class="img-responsive img-centered" alt="" style="max-height: 50px; max-width: 200px;">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://pragmatists.pl/">
                    <img src="img/logos/pragmatists.png" class="img-responsive img-centered" alt="" style="max-height: 50px; max-width: 200px;">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://www.agiledevelopmentday.pl/">
                    <img src="img/logos/add_logo.png" class="img-responsive img-centered" alt="" style="max-height: 50px;">
                </a>
            </div>
        </div>

        <div class="row">
                    <div class="col-md-12 col-sm-12">
<br><br><h3 style="text-align:center"><font color="silver">PARTNERZY</font></h4>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="https://2018.confitura.pl/">
                    <img src="img/logos/confitura.png" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="https://dssconf.pl/">
                    <img src="img/logos/dss.png" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="https://www.meetup.com/WroclawJUG/">
                    <img src="img/logos/jug_wro.png" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="https://www.meetup.com/Polish-Java-User-Group/?chapter_analytics_code=UA-36227447-1">
                    <img src="img/logos/jug_krk.jpg" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                    </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/">
                    <img src="img/logos/wjug.gif" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="https://www.meetup.com/WarsawScala/">
                    <img src="img/logos/wscala.png" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="https://djangogirls.org/warsaw/">
                    <img src="img/logos/djangowarsaw.png" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://spotkania-it.pl">
                    <img src="img/logos/spotkaniaIT.png" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                    </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="https://bulldogjob.pl/">
                    <img src="img/logos/bulldog.png" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="https://jdd.org.pl/">
                    <img src="img/logos/jdd.png" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://saleomega.pl/">
                    <img src="img/logos/saleomega.jpg" class="img-responsive img-centered" alt="" style="max-height: 40px;">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="https://workband.pl/">
                    <img src="img/logos/workband.png" class="img-responsive img-centered" alt="" style="max-height: 40px;">
                </a>
            </div>
           </div>
    </div>
</aside>
