<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
                    <div class="col-md-1 col-sm-6">
<br><br><h4><font color="silver">SPONSORZY</font></h4>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://www.sages.com.pl/">
                    <img src="img/logo.png" class="img-responsive img-centered" alt="" style="max-height: 50px; max-width: 200px;">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://pragmatists.pl/">
                    <img src="img/logos/pragmatists.png" class="img-responsive img-centered" alt="" style="max-height: 50px; max-width: 200px;">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://www.agiledevelopmentday.pl/">
                    <img src="img/logos/add_logo.png" class="img-responsive img-centered" alt="" style="max-height: 50px;">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://semantive.com/">
                    <img src="img/logos/semantive.png" class="img-responsive img-centered" alt="" style="max-height: 50px;">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://findwise.com/">
                    <img src="img/logos/findwise.png" class="img-responsive img-centered" alt="" style="max-height: 50px; max-width: 200px;">
                </a>
            </div>
        </div>
    </div>
</aside>
<!-- Sponsors Section -->
<section id="sponsors" class="bg-red">
<div class="container">
        <div class="row">
              <div class="row text-center">
            <div class="col-md-5">
        <h3 class="service-heading"><font color="#fed136">CHCESZ ZOSTAĆ SPONSOREM / PARTNEREM WYDARZENIA?</font></h3>
            </div>
            <div class="col-md-7">
                <h4 class="service-heading" style="text-align: justify;"><font color="white">Jeżeli jesteś gotów wesprzeć nas merytorycznie lub finansowo, aby uczynić wydarzenie darmowym dla uczestników, <a href="mailto:kontakt@stacja.it?subject=Stacja IT - współpraca">napisz do nas</a> a przedstawimy Ci korzyści płynące ze współpracy.</font></h4>
            </div>
        </div>
        </div>

    </div>
</section>
<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
                    <div class="col-md-1 col-sm-6">
<br><br><br><h4><font color="silver">PARTNERZY</font></h4>
            </div>
            <div class="col-md-1 col-sm-6">
                <a href="http://www.meetup.com/WarsawScala">
                    <img src="img/logos/ws.png" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                </a>
            </div>
            <div class="col-md-1 col-sm-6">
                <a href="http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/">
                    <img src="img/logos/wjug.gif" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                </a>
            </div>
    <div class="col-md-1 col-sm-6">
                <a href="https://www.koscielna6.pl">
                    <img src="img/logos/COWorKING.png" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://www.creative-coworking.pl/">
                    <img src="img/logos/cc.png" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                </a>
            </div>
    <div class="col-md-2 col-sm-6">
                <a href="http://spotkania-it.pl">
                    <img src="img/logos/spotkaniaIT.png" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                    </a>
        </div>
    <div class="col-md-2 col-sm-6">
                <a href="http://saleomega.pl/">
                    <img src="img/logos/saleomega.jpg" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                </a>
            </div>
    <div class="col-md-2 col-sm-6">
                <a href="http://http://warsaw2016.codemotionworld.com">
                    <img src="img/logos/codemotion.png" class="img-responsive img-centered" alt="" style="max-height: 60px;">
                </a>
            </div>
        </div>
    </div>
</aside>
