<!-- Meeting rooms Section -->
    <section id="podcasty" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <hr>
                        
                        <div class="nex-list-line">
                            <span><a href="/press/2017-01-20-pierwszy-bootcamp-data-science-w-polsce/"><button type="button" class="btn btn-primary btn-s"><i class="fa fa-headphones" aria-hidden="true"></i> Słuchaj</button></a></span>
                            <h4><span><b>#3</b> Tytuł 3</span></h4>
                            <p>Wywiad z Zenonem Iksińskim • 12.07.2018</p>
                        </div>
                        
                        <div class="nex-list-line">
                            <span><a href="/press/2017-05-26-od-bootcampu-do-pe%C5%82noprawnego-programisty/"><button type="button" class="btn btn-primary btn-s"><i class="fa fa-headphones " aria-hidden="true"></i> Słuchaj</button></a></span>
                            <h4><span><b>
                            #2</b> Tytuł 2</span></h4>
<p>Wywiad z Zenonem Iksińskim • 11.07.2018</p>
                            <p></p>
                        </div>
                        
                        <div class="nex-list-line">
                            <span><a href="/press/2017-05-26-od-bootcampu-do-pe%C5%82noprawnego-programisty/"><button type="button" class="btn btn-primary btn-s"><i class="fa fa-headphones " aria-hidden="true"></i> Słuchaj</button></a></span>
                            <h4><span><b>
                            #1</b> Tytuł 1</span></h4>
                            <p>Adam Kowalki o data science • 10.07.2018</p>
                        </div>
                        
                    </div>
                </div>
            </div>
    </section>
