<!-- Meeting rooms Section -->
    <section id="meetingrooms" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">SZUKASZ MIEJSCA NA SWÓJ EVENT IT?</h2>
                    <h3 class="section-subheading text-muted">Zapraszamy do naszych sal <strong>w samym sercu stolicy</strong> przy ul. Nowogrodzkiej 62c!<br>Oferujemy dwie w pełni wyposażone, ustawne sale szkoleniowe o <strong>powierzchni 35m²</strong> z opcją połączenia w jedną dużą salę o pow. <strong>70m²</strong>. Pomieszczenia mają dostęp do światła dziennego (z możliwością całkowitego zaciemnienia). W każdej sali znajduje się rzutnik Full HD, flipchart i akcesoria piśmiennicze. Do dyspozycji uczestnicy mają również foyer (przerwa kawowa do uzgodnienia) oraz patio.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-3">
					<table class="table">
<thead>
<tr>
<th class="active"><i class="fa fa-users fa-5x"></i><br><strong>Układ sali</strong></th> <th class="active"><strong>Zalecana max. liczba osób w sali <span style="color: #6dd4ea;">70m²</span></strong></th><th class="active"><strong>Zalecana max. liczba osób w sali <span style="color: #6dd4ea;">35m²</span></strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>Szkolny</td>
<td>30</td>
<td>15</td>
</tr>
<tr>
<td>Warsztatowy</td>
<td>45</td>
<td>22</td>
</tr>
<tr>
<td>U zew.</td>
<td>16</td>
<td>8</td>
</tr>
<tr>
<td>U wew. i zew.</td>
<td>30</td>
<td>15</td>
</tr>
<tr>
<td>Teatralny</td>
<td>50</td>
<td>25</td>
</tr>
</tbody>
</table>
<br>
                    <p class="section-subheading text-muted" style="text-align:justify">
				Oferta skierowana do organizatorów wydarzeń otwartych o tematyce IT. Sale użyczamy <strong>bezpłatnie</strong>, na zasadzie partnerstwa.</p>
                </div>
                <div class="col-sm-12 col-md-9">
                    <div class="team-member">
                        <img src="img/sala/sala1.jpg" class="img-rounded">
						<img src="img/sala/sala2.jpg" class="img-rounded"><br>
						<img src="img/sala/sala3.jpg" class="img-rounded">
						<img src="img/sala/foyer.jpg" class="img-rounded">
                    </div>
                </div>
				                <div class="col-md-3 col-sm-3 text-left">
                    <p class="section-subheading" style="text-align:left"><strong>Goszczą już u nas: </strong><a href="http://www.meetup.com/WarsawScala">
                        <img src="img/logos/ws.png" style="max-height: 60px;"></a></p>
                </div>
								                <div class="col-md-9 col-sm-9 text-center">
                    <a class="btn btn-lg btn-default" href="mailto:kontakt@stacja.it?subject=Stacja IT - wynajem sal">
  <i class="fa fa-envelope fa-2x pull-left"></i> Zapytaj o termin</a>
                </div>
                </div>
            </div>
    </section>
