<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Dlaczego warto wstąpić na Stację?</h2>
                <h3 class="section-subheading text-muted">Nie masz czasu samodzielnie szukać dokumentacji, przykładów i zastanawiać się nad warsztatem pracy optymalnym dla danej technologii IT?</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <a class="page-scroll" href="#portfolio"><span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                </span></a>
                <h4 class="service-heading">Całodniowe warsztaty hands-on</h4>
                <p class="text-muted">Dajemy Ci możliwość bezpośredniego kontaktu z nową technologią, przedyskutowania silnych i słabych stron, bez konieczności wykonywania eksperymentów i prototypów w firmie.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Intensywna nauka na przykładach</h4>
                <p class="text-muted">Zdobędziesz praktyczną wiedzę z danego tematu oraz wskażemy Ci najlepsze opcje dalszego rozwoju w jego obszarze.</p>
            </div>
            <div class="col-md-3">
                <a class="page-scroll" href="#costs"><span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                </span></a>
                <h4 class="service-heading">Wstęp wolny <br/>lub płatny od 219 PLN</h4>
                <p class="text-muted">Oferujemy całodniowy, pełnowartościowy warsztat za symboliczną cenę - sprawdź się w nowej technologii bez ponoszenia dużych kosztów!</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Networking i smaczna kawa</h4>
                <p class="text-muted">Nawiąż nowe znajmości na stopie prywatnej lub/i biznesowej!</p>
            </div>
        </div>
    </div>
</section>
