<!-- stacjaVIP -->
<section id="stacjaVIP">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><font color="black">Stacja IT VIP - program abonamentowy</font></h2>
                <h3 class="section-subheading text-muted"><font color="black">Często uczestniczysz w naszych warsztatch, bo uważasz je za wartościowe? Rejestracja i podawanie danych na każde wydarzenie osobno doprowadza Cię do szaleństwa? Za tę samą cenę wolisz otrzymywać więcej? Program abonamentowy jest Ciebie!</font></h3>
                <br>
                <h3 class="section-subheading text-muted"><font color="black">Kupując abonament (miesięczny za 99 zł lub roczny za 948 zł) na warsztaty stacjowe, zyskujesz dużo więcej!</font></h3>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-5x">
                        <font color="#DC4E41"><i class="fa fa-laptop fa-stack-1x"></i></font>
                    </span>
                    <h4 class="service-heading"><font color="black">Możesz brać udział we wszystkich warsztatach zdalnych Stacji IT</font></h4>
                </div>

                <div class="col-md-3">
                    <span class="fa-stack fa-5x">
                        <font color="#DC4E41"><i class="fa fa-money fa-stack-1x"></i></font>
                    </span>
                    <h4 class="service-heading"><font color="black">Otrzymujesz zniżkę 50% na udział w warsztatach stacjonarnych</font></h4>
                </div>

                <div class="col-md-3">
                    <span class="fa-stack fa-5x">
                        <font color="#DC4E41"><i class="fa fa-video-camera fa-stack-1x"></i></font>
                    </span>
                    <h4 class="service-heading"><font color="black">Dostajesz dostęp do nagrań z warsztatów zdalnych Stacji IT</font></h4>
                </div>

                <div class="col-md-12"><br><br>
                    <a class="btn btn-lg btn-default" href="#abonamenty">
                        <i class="fa fa-hand-pointer-o fa-2x pull-left"></i>Dowiedz się więcej</a>
                </div>
            </div>
        </div>
    </div>
</section>
