<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading">ORGANIZATORZY</h2>
                <h3 class="section-subheading text-muted">
                    <p>Wizją platformy Stacja IT jest stworzenie miejsca spotkań ekspertów branżowych, profesjonalistów, którzy
                        nieprzerwanie podnoszą swoje kompetencje, trenerów, przedsiębiorców i twórców startupów, a także
                        osoby wchodzące na rynek pracy.</p>
                    <p>Chcemy wspierać budowanie kompetencji kadr w Polsce, a w szczególności przyczynić się do wzrostu efektywności
                        i innowacyjności krajowej branży IT. Unikalny skład osobowy i doświadczenie partnerów powoduje, że
                        możemy zbliżać ze sobą świat biznesu, ośrodki naukowe i centra kompetencyjne, aby przekuwać wiedzę
                        w realną wartość uczestników naszych przedsięwzięć.</p>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="team-member">
                    <img src="img/team/mariaswidniak.jpg" class="img-responsive img-circle" alt="">
                    <h4>Maria Nowakowska</h4>
                    <p class="text-muted">Wszystkie miasta</p>
                    <ul class="list-inline social-buttons">
                        <li class="easytooltip easytooltip--dori" data-type="dori">
                            <a href="tel:+48881680838" "alt=+48881680838" class="easytooltip__trigger" role="easytooltip"><i class="fa fa-phone"></i></a>
                            <div class="easytooltip__base">
                                <svg class="easytooltip__shape" width="100%" height="100%" viewBox="0 0 400 300">
                                        <path d="M 22,108 22,236 C 22,236 64,216 103,212 142,208 184,212 184,212 L 200,229 216,212 C 216,212 258,207 297,212 336,217 378,236 378,236 L 378,108 C 378,108 318,83.7 200,83.7 82,83.7 22,108 22,108 Z"/>
                                </svg>
                                <div class="easytooltip__content">Telefon:<br/>+(48) 881-680-838</div>
                            </div>
                        </li>
                        <li class="easytooltip easytooltip--dori" data-type="dori">
                            <a href="mailto:kontakt@stacja.it" class="easytooltip__trigger" role="easytooltip"><i class="fa fa-envelope"></i></a>
                            <div class="easytooltip__base">
                                <svg class="easytooltip__shape" width="100%" height="100%" viewBox="0 0 400 300">
                                        <path d="M 22,108 22,236 C 22,236 64,216 103,212 142,208 184,212 184,212 L 200,229 216,212 C 216,212 258,207 297,212 336,217 378,236 378,236 L 378,108 C 378,108 318,83.7 200,83.7 82,83.7 22,108 22,108 Z"/>
                                </svg>
                                <div class="easytooltip__content">Email:<br/>kontakt@stacja.it</div>
                              </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-member">
                    <img src="img/team/agatakuzma.jpg" class="img-responsive img-circle" alt="">
                    <h4>Agata Kuźma</h4>
                    <p class="text-muted">Warszawa</p>
                    <ul class="list-inline social-buttons">
                        <li class="easytooltip easytooltip--dori" data-type="dori">
                            <a href="tel:+48535724222" "alt=+48535724222" class="easytooltip__trigger" role="easytooltip"><i class="fa fa-phone"></i></a>
                            <div class="easytooltip__base">
                                <svg class="easytooltip__shape" width="100%" height="100%" viewBox="0 0 400 300">
                                        <path d="M 22,108 22,236 C 22,236 64,216 103,212 142,208 184,212 184,212 L 200,229 216,212 C 216,212 258,207 297,212 336,217 378,236 378,236 L 378,108 C 378,108 318,83.7 200,83.7 82,83.7 22,108 22,108 Z"/>
                                </svg>
                                <div class="easytooltip__content">Telefon:<br/>+(48) 535-724-222</div>
                            </div>
                        </li>
                        <li class="easytooltip easytooltip--dori" data-type="dori">
                            <a href="mailto:kontakt@stacja.it" class="easytooltip__trigger" role="easytooltip"><i class="fa fa-envelope"></i></a>
                            <div class="easytooltip__base">
                                 <svg class="easytooltip__shape" width="100%" height="100%" viewBox="0 0 400 300">
                                        <path d="M 22,108 22,236 C 22,236 64,216 103,212 142,208 184,212 184,212 L 200,229 216,212 C 216,212 258,207 297,212 336,217 378,236 378,236 L 378,108 C 378,108 318,83.7 200,83.7 82,83.7 22,108 22,108 Z"/>
                                </svg>
                                <div class="easytooltip__content">Email:<br/>kontakt@stacja.it</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>          
        </div>
</section>