<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading">ORGANIZATORZY</h2>
                <h3 class="section-subheading text-muted"><p>Wizją platformy Stacja IT jest stworzenie miejsca spotkań ekspertów branżowych, profesjonalistów, którzy nieprzerwanie podnoszą swoje kompetencje, trenerów, przedsiębiorców i twórców startupów, a także osoby wchodzące na rynek pracy.</p><p>Chcemy wspierać budowanie kompetencji kadr w Polsce, a w szczególności przyczynić się do wzrostu efektywności i innowacyjności krajowej branży IT. Unikalny skład osobowy i doświadczenie partnerów powoduje, że możemy zbliżać ze sobą świat biznesu, ośrodki naukowe i centra kompetencyjne, aby przekuwać wiedzę w realną wartość uczestników naszych przedsięwzięć.</p></h3>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/mariaswidniak.jpg" class="img-responsive img-circle" alt="">
                      <h4>Maria Świdniak</h4>
                      <p class="text-muted">Wszystkie miasta</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="https://www.linkedin.com/in/maria-%C5%9Bwidniak-949a88104"><i class="fa fa-linkedin"></i></a>
                          </li>
                          <li><a href="mailto:kontakt@stacja.it"><i class="fa fa-envelope"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/agatakuzma.jpg" class="img-responsive img-circle" alt="">
                      <h4>Agata Kuźma</h4>
                      <p class="text-muted">Warszawa</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="https://pl.linkedin.com/pub/agata-ku%C5%BAma/93/605/84a/en"><i class="fa fa-linkedin"></i></a>
                          </li>
                          <li><a href="mailto:kontakt@stacja.it"><i class="fa fa-envelope"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="img/team/paulinazimon.jpg" class="img-responsive img-circle" alt="">
                      <h4>Paulina Zimoń</h4>
                      <p class="text-muted">Kraków</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="https://www.linkedin.com/in/paulina-zimo%C5%84-041331110/"><i class="fa fa-linkedin"></i></a>
                          </li>
                          <li><a href="mailto:Paulina.M.Zimon@metrosoft.com"><i class="fa fa-envelope"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
            </div>
</section>
