---
layout: default
---
<section>


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h1 class="workshop-title">{{ page.title }}</h2>
                    {{ page.opis['informacje'] | markdownify }}
                    <hr/>
                    {% if page.opis['rodzajabonamentu'] %}
                    <h4 style="color:#fed136">RODZAJE ABONAMENTU</h4>
                    <hr/>
                    {{ page.opis['rodzajabonamentu'] | markdownify }}
                    <hr/>
                    {% endif %}
                    {% if page.opis['korzysci'] %}
                    <h4 style="color:#fed136">KORZYŚCI</h4>
                    <hr/>
                    {{ page.opis['korzysci'] | markdownify }}
                    <hr/>
                    {% endif %}
                    {% if page.opis['info'] %}
                    <h4 style="color:#fed136">INFORMACJE DODATKOWE</h4>
                    <hr/>
                    {{ page.opis['info'] | markdownify }}
                    <hr/>
                    {% endif %}
                    <h4 style="color:#fed136">DOŁĄCZ DO STACJA IT VIP</h4>
                    <div class="row text-center">
                        <div class="col-md-5 col-md-offset-1">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">Członkostwo odnawiane co miesiąc</h4>
                            <p class="text-muted">Comiesięczne obciążenie karty płatniczej kwotą 99 zł.</p>
                            <a class="btn btn-primary" href="https://peron.stacja.it/vip-miesiac"><i class="fa fa-shopping-cart"></i> Zapisuję się!</a>
                        </div>
                        <div class="col-md-5">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">Członkostwo roczne</h4>
                            <p class="text-muted">Płatne jednorazowo, za rok z góry.</p>
                            <a class="btn btn-primary" href="#"><i class="fa fa-shopping-cart"></i> Wkrótce!</a>
                        </div>
                    </div>
                    <hr/>
                    {% if page.opis['faq'] %}
                    <h4 style="color:#fed136">FAQ</h4>
                    <hr/>
                    {{ page.opis['faq'] | markdownify }}
                    <hr/>
                    {% endif %}

                    <a class="btn btn-primary" href="../index.html"><i class="fa fa-times"></i> Wróć</a>
                </div>   
            </div>
        </div>
    </div>
</section>
