---
layout: default
---
<section>


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h1 class="workshop-title">Podcast Stacja.IT<br/>Odcinek <b>#{{ page.episode }}</b>: {{ page.title }}</h2>
                    <b>Subskrybuj:</b> <a href="https://podcasts.apple.com/pl/podcast/podcast-stacja-it/id1353067477?mt=2" target="_blank">Apple iTunes</a> | <a href="https://open.spotify.com/show/2sWqiopRSjjDTo6XTKloU6" target="_blank">Spotify</a> | <a href="https://www.youtube.com/channel/UCt0Gqn-JPojRF7anupcl67Q" target="_blank">Youtube</a> | <a href="http://stacjait.libsyn.com/rss" target="_blank">RSS</a>
                    <hr/>
                    <!--<button type="button" class="btn btn-primary btn-s"><i class="fa fa-headphones" aria-hidden="true"></i> Słuchaj</button>-->
                    {% include podcast-embed.html id = page.libsyn_id %}
                    <hr/>
                    <h4 style="color:#fed136">OPIS</h4>
                    <hr/>
                    {{ page.opis['informacje'] | markdownify }}
                    <hr/>
                    {% if page.youtube %}
                    <h4 style="color:#fed136">WIDEO</h4>
                    <hr/><div style="text-align: center;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {% if page.youtube2 %}
                    <br/>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.youtube2 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {% endif %}
                    </div><hr/>
                    {% endif %}
                    <h4 style="color:#fed136">STRESZCZENIE ODCINKA</h4>
                    <hr/>
                    {{ page.opis['konspekt'] | markdownify }}
                    <hr/>
                    {% if page.opis['dodatkowe'] %}
                    <h4 style="color:#fed136">RODZAJE ABONAMENTU</h4>
                    <hr/>
                    {{ page.opis['rodzajabonamentu'] | markdownify }}
                    <hr/>
                    {% if page.opis['dodatkowe'] %}
                    <h4 style="color:#fed136">KORZYŚCI</h4>
                    <hr/>
                    {{ page.opis['korzysci'] | markdownify }}
                    <hr/>
                    {% if page.opis['dodatkowe'] %}
                    <h4 style="color:#fed136">INFORMACJE DODATKOWE</h4>
                    <hr/>
                    {{ page.opis['info'] | markdownify }}
                    <hr/>
                    {% if page.opis['dodatkowe'] %}
                    <h4 style="color:#fed136">FAQ</h4>
                    <hr/>
                    {{ page.opis['faq'] | markdownify }}
                    <hr/>
                    {% if page.opis['dodatkowe'] %}
                    <h4 style="color:#fed136">MATERIAŁY POWIĄZANE Z ODCINKIEM</h4>
                    <hr/>
                    {{ page.opis['dodatkowe'] | markdownify }}
                    <hr/>
                    {% endif %}
                    {% if page.opis['gosc'] %}
                    <h4 style="color:#fed136">GOŚĆ ODCINKA</h4>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="{{ page.opis['gosc_zdjecie'] | prepend: site.baseurl}}" class="img-responsive" alt="" />
                        </div>
                        <div class="col-lg-8">
                            {{ page.opis['gosc'] | markdownify }}
                        </div>
                    </div>
                    <hr/>
                    {% endif %}

                    {% if page.opis['transkrypcja'] %}
                    <h4 style="color:#fed136">TRANSKRYPCJA ODCINKA</h4>
                    <hr/>
                    {{ page.opis['transkrypcja'] | markdownify }}
                    <hr/>
                    {% endif %}

                    <h4 style="color:#fed136">Komentarze</h4>
                      <div id="disqus_thread"></div>
                      <script>

                      var disqus_config = function () {
                      this.page.url = "{{ page.url | prepend: site.url }}";  // Replace PAGE_URL with your page's canonical URL variable
                      this.page.identifier = "{{ page.libsyn_id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                      };
                      (function() { // DON'T EDIT BELOW THIS LINE
                      var d = document, s = d.createElement('script');
                      s.src = 'https://stacja-it.disqus.com/embed.js';
                      s.setAttribute('data-timestamp', +new Date());
                      (d.head || d.body).appendChild(s);
                      })();
                      </script>
                      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <hr/>

                    <a class="btn btn-primary" href="../index.html"><i class="fa fa-times"></i> Wróć</a>
            </div>
        </div>
    </div>
</section>
